@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);


body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  background: #eeeeee;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.1;
  margin: 30px 6px 15px;
}

h1, h2, h3 {
  font-size: 24px;
  margin-left: 5px;
}

hr {
  background: black;
  height: 2px;
  border: 0;
  margin: 0 0 30px;
}

p, ul, ol, table, pre, dl, blockquote {
  margin: 0 6px 15px;
}

a {
  color: #007edf;
  font-weight: 400;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

ul {
  color: black;
  list-style: square;
}

blockquote {
  color: black;
  border-left: 2px solid;
  font-style: italic;
  padding: 0 0 0 6px;
}


thead, dt, pre {
  background: #333333;
  border-radius: 2px;
  overflow: auto;
  overflow-y: hidden;
  padding: 8px 12px;
}

table, dl {
  background: #dddddd;
  border-radius: 2px;
  overflow-y: hidden;
}

th, dt, pre {
  color: #eeeeee;
  text-shadow: 0 1px 0 #000;
  font-weight: normal;
  font-size: 15px;
}

th a, dt a, pre a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

code, dt {
  font-family: "Inconsolata", Monaco, monospace;
  font-size: 15px;
}

dd {
  padding: 8px 0 0;
  margin: 0 6px;
}

table {
  table-layout: fixed;
  width: 738px;
}

th {
  text-align: left;
  padding: 8px 12px;
}

td {
  text-align: left;
  padding: 0px 12px;
}

th:nth-child(1) {
  border-radius: 2px 0 0 2px;
}

th:nth-last-child(1) {
  border-radius: 0 2px 2px 0;
}

tbody:after {
  content: '';
  display: block;
  height: 8px;
}


#header {
  padding: 30px 0 0;
  height: 64px;
}

#header h1 {
  margin: 0 0 8px;
}

#header .header.blob {
  float: left;
  height: 64px;
  margin: 0 4px;
}

#header .header.blob img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

#header .header.left {
  float: left;
  margin: 0 1px;
}

#header .header.right {
  float: right;
  margin: 0 6px;
}

#header hr {
  clear: both;
}


#footer {
  height: 32px;
  padding: 30px 0 30px;
}

#footer .footer.blob {
  color: #333333;
  float: right;
  margin: 0 6px;
}

#footer hr {
  margin: 0;
}


@media print, screen and (max-width: 750px) {
  #header p {
    display: none;
  }
}
