<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1, user-scalable=no">
    <title>{% if page.title %}{{page.title}}
           {% else %}{{site.title}}
           {% endif %}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/syntax.js"></script>
    {% if page.js %}
    {% for file in page.js %}
    <script src="{{file}}"></script>
    {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/css/syntax.css">
    {% if page.css %}
    {% for file in page.css %}
    <link rel="stylesheet" href="{{file}}">
    {% endfor %}
    {% endif %}
    {% include analytics.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="page">
      {{content}}
    </div>
    {% include footer.html %}
  </body>
</html>
